<div class="row" *ngIf="complaintTypes.length >0">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let item of complaintTypes">
        <div class="panel panel-default text-center complaint-types-panel">
            <div class="relative panel-heading">
                <label class="complaint-name-label">{{item.name}}</label>
                <span (click)="showModalToDelete(item.id)" data-target="#ComplaintTypeModalDelete" data-toggle="modal" class="badge">x</span>
            </div>
            <div class="panel-body">
                <img class="complaint-types-img" src="{{item.imageUrl}}" alt="Imagen de la denuncia">

            </div>
            <div class="relative text-right">
                <span class="app-btn-edit" (click)="showModalToEdit(item.id)" data-target="#ComplaintTypeModal" data-toggle="modal">Editar</span>
            </div>
            <div class="panel-footer">
                <div *ngIf="!!item.description">
                    <div class="relative">
                        <label>Descripción</label>
                    </div>
                    <p>{{item.description}}</p>
                </div>
                <div *ngIf="!item.description">
                    <span class="fa fa-list-alt"></span>
                    <p>Descripción no registrada</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="div-loading-data" *ngIf="complaintTypes.length == 0">
    <span class="fa fa-list-alt"></span>
    <label>No hay tipos de denuncias creadas</label>
</div>

<div class="relative">
    <span *ngIf="isLoading" class="fa fa-spin fa-circle-o-notch loading"></span>
    <button (click)="initVm()" data-target="#ComplaintTypeModal" data-toggle='modal' class="btn home-button-add"><span class="fa fa-plus"></span></button>
</div>

<!--Modals-->
<div id="ComplaintTypeModal" class="modal fade complainModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nuevo tipo de denuncia</h4>
            </div>
            <form #complaintTypeForm="ngForm" (ngSubmit)="save(model)">
                <div class="modal-body">
                    <div class="form-group divImage">
                        <label>Requerido*</label>
                        <img [src]="model.imageUrl" class="previewImage">
                        <input type='file' id="inputfileInput" class="inputfile" accept="image/*" (change)="loadImage($event)">
                        <label (click)="initInputFile()" for="file">Seleccionar foto</label>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Nombre*:</label>
                                <input name="name" minlength="5" maxlength="20" required [(ngModel)]="model.name" placeholder="Maximo 20 caracteres (Requerido)"
                                    type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Código*:</label>
                                <input name="codigo" required [(ngModel)]="model.codigo" placeholder="Requerido" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Descripción:</label>
                        <textarea name="description" [(ngModel)]="model.description" placeholder="Maximo 50 caracteres (Opcional)" class="form-control"></textarea>
                    </div>

                    <div class="relative">
                        <div class="text-right">
                            <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn complain" [disabled]="!complaintTypeForm.form.valid || (model.imageUrl == previewImage)|| isLoading"> 
                                <i [ngClass]="isLoading? 'fa fa-spin fa-refresh':'fa fa-check'"></i>
                                 Guardar
                                </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="ComplaintTypeModalDelete" class="modal fade complainModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmación</h4>
            </div>
            <div class="modal-body">
                <div class="form-group text-center">
                    <h4>¿Esta seguro que desea eliminar este registro?</h4>
                </div>
                <div class="relative">
                    <div class="text-right">
                        <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                        <button (click)="remove(entityToDelete.id,$event)" type="button" class="btn btn-danger" [disabled]="!entityToDelete || isLoading"> 
                                <i [ngClass]="isLoading? 'fa fa-spin fa-refresh':'fa fa-check'"></i>
                                 Eliminar
                                </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>