<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Imagenes
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text style="color:white" showWhen="ios">  <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon> &nbsp;Atrás</span>
        <ion-icon  style="color:white" name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="listBase64Image.length">
    <ion-card  *ngFor="let item of listBase64Image let i = index;">
        <img src="data:image/jpeg;base64,{{item.data}}" alt="" style="margin: 0 auto; float:none;">
        <ion-card-content>
            <p>
                {{item.name}}
                <button  class="float-right" color="danger"  (click)="deleteImage(item)"  clear icon-start ion-button small >
                    <ion-icon name="md-trash" role="img"  ></ion-icon>
                    &nbsp;&nbsp; Borrar
                </button >
            </p>
          </ion-card-content>
      </ion-card>
  </div>
  
</ion-content>