
page-home {
     .app-navbar  .toolbar-background{
        background: #18bc9c;
    }
    .app-footer  .toolbar-background{
        background: #18bc9c;
    }
    .selector {
        position: absolute;
        left: 0;
        right: 0;
        top: 40%;
        width: 30%;
        height: 20%;
        margin: 0 auto;
        margin-top: 20px;
    }

    .selector,
    .selector button {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    }

    .selector button {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 10px;
        background: #18bc9c;
        border-radius: 50%;
        border: 0;
        color: white;
        font-size: 15px;
        cursor: pointer;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
        transition: 0.3s;
    }
    .selector button:hover {
             background: #2c3e50;
         }

    .selector button:focus { outline: none; }

   .selector ul {
        position: absolute;
        list-style: none;
        padding: 0;
        margin: 0;
        top: -15px;
        right: -10px;
        bottom: -15px;
        left: -10px;
    }

    .selector li {
        position: absolute;
        width: 0;
        height: 100%;
        margin: 0 50%;
        -webkit-transform: rotate(-360deg);
        transition: all 0.8s ease-in-out;
    }

    .selector li input { display: none; }

    .selector li input + label {
        position: absolute;
        left: 50%;
        bottom: 100%;
        width: 0;
        height: 0;
        line-height: 1px;
        margin-left: 0;
        background: #fff;
        border-radius: 50%;
        text-align: center;
        font-size: 1px;
        overflow: hidden;
        cursor: pointer;
        box-shadow: none;
        transition: all 0.8s ease-in-out, color 0.1s, background 0.1s;
    }
    .selector li input + label:hover { background: #f0f0f0; }

    .selector li input:checked + label {
    background: #5cb85c;
    color: white;
    }

    .selector li input:checked + label:hover { background: #449d44; }


   .selector.open li input + label {
        width: 87px;
        padding: 6px;
        height: 88px;
        line-height: 20px;
        margin-left: -50px;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
        font-size: 84%;
        /* font-weight: 700; */
        display: table;
        word-break: break-word;
    }

    .selector.open li input + label > div.text {
        display: table-cell;
        vertical-align: middle;
    }

    .selector.open li input + label > div.text > ion-icon {
        display: block;
        font-size: 30px;
    }
    .denunciar{
        display: block;
        font-size: 2.2em;
    }

    .alert-icon{
        font-size: 3.2em;
        color: #2C3E50;
    }
    .alert-p{
        margin-top: 5px;
        font-size: 16px;
        color:#2C3E50;  
    }

    .padding-top-0{
        padding-top: 0px;
    }

    
}
