
<ion-header >
    <ion-toolbar color="primary">
        <ion-buttons start (click)="historial()">
          <button ion-button icon-only>
            <ion-icon name="ios-mail"></ion-icon>
          </button>
        </ion-buttons>
        <ion-title><img  style="width: 10%" src="assets/img/logo.png"/> 
          <label>ASDE</label></ion-title>

        <ion-buttons end>
        <button ion-button icon-only (click)="viewPerfil()">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-row>
      <ion-col col-2 col-sm text-center>
         <ion-icon ios="ios-alert" class="alert-icon" md="md-alert"></ion-icon> 
      </ion-col>
      <ion-col col-10 col-sm class="padding-top-0">
        <p class="alert-p">La denuncia será atendida en un horario de 8: 00 AM. a 4:00 PM.</p>
      </ion-col>
  </ion-row>

  <div class='selector'>
    <ul>

      <li *ngFor="let complaintType of complaintTypes" (click)="tipoElegido(complaintType)">
        <input  id='{{complaintType.name}}' type='checkbox'>
        <label for='{{complaintType.name}}'>  
            <div class="text">
              <ion-icon *ngIf="!complaintType.imageUrl" name="md-help" ></ion-icon> 
              <img *ngIf="complaintType.imageUrl" [src]="complaintType.imageUrl" alt=""  style="width: 45%;  margin: -6px;">
              <br>
              <span>{{complaintType.name}}</span>
            </div>
        </label>
      </li>
      

    </ul>
    <button (click)="goToDenunciarTipo()" > <ion-icon class="denunciar" name="ios-megaphone-outline" ></ion-icon> Denunciar</button>
  </div>
</ion-content>