denunciar-descripcion{
    textarea {
        max-width: 100%;
        width: 100%;
        height: 20vh;
    }
   .label-ios[stacked] {
        margin-bottom: 4px;
        font-size: 1.9rem;
    }
    .app-navbar  .toolbar-background{
        background: #18bc9c;
        color: white;
    }
}