
<ion-content padding style="text-align:center;">
    <img src="assets/img/logo.png" style="max-width: 60%;" alt="">
    <h3>¡Denuncia recibida!</h3>
    <br>
    <h3>Su denuncia será tratada con el siguiente código de caso:</h3>
    <br>
    <h4><b> {{id}}</b></h4>
    <br>
    <button ion-button (click)="inicio()" >Ok</button>
    
</ion-content>
