    #locator{
        background-image: url("../assets/img/pinmap.png");
        position: absolute;
        left: 50%;
        right: 50%;
        width: 50px;
        height: 50px;
        margin-left: -17px;
        margin-top: -65%; //bottom of image is location on map
        background-repeat: no-repeat;
    }
