

<div class="row app-inbox">
    <div class="panel panel-inbox">
        <div class="relative panel-heading">
            <h4>Todas las denuncias</h4>
        </div>
        <div class="panel-body">
<div class="col-xs-8">
      <div style="display: block;">
        <canvas baseChart 
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-xs-6">
        <div class="form-group">
          <label for="estadistica">Escala en</label>
          <select  [(ngModel)]="selectedScale" (ngModelChange)="scaleChange($event)"  class="form-control" id="estadistica" required>
            <option *ngFor="let scale of scales" [value]="scale">{{scale}}</option>
          </select>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label for="year">Selecionar año</label>
          <select  [(ngModel)]="selectedYear"  (ngModelChange)="selectedYearChange($event)" [disabled]="disabledYear" class="form-control" id="year" required>
            <option *ngFor="let year of years" [value]="year">{{year}}</option>
          </select>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="lineChartDescription" [hidden]="disabledYear">
          Estadísticas correspondiente <br>
          al año {{selectedYear}}
        </div>
        <div class="lineChartDescription" [hidden]="!disabledYear">
          La estadísticas ha sido configurada anual.
        </div>
      </div>
      <div class="col-xs-12">
        <div class="table-responsive">
          <table class="table table-responsive table-condensed">
            <tr>
              <th *ngFor="let label of lineChartLabels">{{label}}</th>
            </tr>
            <tr *ngFor="let d of lineChartData">
              <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
        </div>
    </div>
</div>