<ion-header> 
  <ion-navbar color="primary">
    <ion-title>
      <ion-icon>
        <img style="max-width: 45%" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Escudo_del_Municipio_Santo_Domingo_Este.svg/119px-Escudo_del_Municipio_Santo_Domingo_Este.svg.png"/>
      </ion-icon> 
    </ion-title> 
  </ion-navbar> 
</ion-header>


<ion-content padding class="loginContent">`
  <ion-row>
    <ion-col></ion-col>
    <ion-col></ion-col>
  </ion-row>
  <!--css provicional hasta que se defina el diseño-->
    <label style="font-size: large;color: #029a9c;">Recuperación de contraseña</label>
    <br/>
    <br/>
  <div>  
    <form> 
      <ion-row>
        <ion-col>
          <ion-list> 

            <ion-item>
              <ion-input type="email" placeholder="Ingresa tu Correo" name="email"></ion-input>
            </ion-item>
            
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full class="loginBtn">Enviar</button>
        </ion-col>
      </ion-row>
      
    </form>
  </div> 
</ion-content>
