<ion-header>
  <ion-navbar class="app-navbar" color="primary">
    <ion-title center>
      Denunciar - Paso 2
    </ion-title>
    <ion-buttons end="" class="bar-buttons bar-buttons-ios" (click)="goDenunciarPage()">
        <button icon-only="" ion-button="" class="disable-hover bar-button bar-button-ios bar-button-default bar-button-default-ios bar-button-ios-dark">
          <span class="button-inner" style="color:white">
            <ion-icon name="md-arrow-forward" role="img" class="icon icon-ios ion-ios-more" aria-label="more"></ion-icon>
          </span>
          <div class="button-effect"></div>
        </button>
      </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
      <ion-col col-12 col-sm >
         <h4><b><label>Dirección del caso</label></b></h4>
      </ion-col>
  </ion-row>
  <ion-list>
  <br>
    <ion-item>
      <ion-label stacked>Calle</ion-label>
      <ion-input type="text" [(ngModel)]="calle" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Residencia</ion-label>
      <ion-input type="text" [(ngModel)]="residencia"></ion-input>
    </ion-item>

     <ion-item>
      <ion-label stacked>Sector</ion-label>
      <ion-input type="text" [(ngModel)]="sector"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label stacked>Agregar Descripción</ion-label>
      <ion-textarea elastic [(ngModel)]="descripcion"></ion-textarea>
    </ion-item>


  </ion-list>   
  
</ion-content>
