<ion-header>
  <ion-navbar class="app-navbar" color="primary">
    <ion-title center>
      Denunciar - Paso 2
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-row>
      <ion-col col-12 col-sm >
         <h4 style="text-align:center"><b><label>Dirección del caso</label></b></h4>
      </ion-col>
  </ion-row>
  <hr>

  <div class="map-wrapper">
        <map #map [isPickupRequest]="isPickupRequest" (OnPickUpChange)="updateDirection($event)"> </map>   
        <button id="centerLocation" (click)="map.centerLocation()" ion-button style="float: right;">
            <ion-icon name="navigate"></ion-icon>
        </button>
  </div>
   <button ion-button full class="margin-top-4px border-button" [hidden]= "isPickupRequest" (click)="confimAddress()"><span class="padding-right-15px">Confirmar ubicación y continuar</span><span><ion-icon name="arrow-forward"></ion-icon></span></button>
   <button ion-button full class="margin-top-4px border-button" [hidden]= "!isPickupRequest" (click)="cancelAddress()"><span class="padding-right-15px">Cancelar ubicación</span><span><ion-icon name="arrow-forward"></ion-icon></span></button>

   <button ion-button full class="border-button"  (click)="writeAddress()" ><span class="padding-right-15px">Ingresar dirección como texto</span><span><ion-icon name="arrow-forward"></ion-icon></span></button>

   
  
</ion-content>
