denunciar-direccion{
  .map-wrapper{
      width: 100%;
      height: 69%;
  }
  .padding-right-15px{
      padding-right: 15px;
  }
  .margin-top-4px{
    margin-top: -4px;
  }
  .border-button{
    border: 1px solid #18bc9c;
  }
   .app-navbar  .toolbar-background{
        background: #18bc9c;
        color: white;
    }
    .button-ios {
    margin: 0.4rem 0.2rem;
    padding: 0 1em;
    height: 2.8em;
    border-radius: 4px;
    font-size: 1.6rem;
    color: #fff;
    background-color: #18bc9c;
}

.button-ios.activated {
  background-color: #18bc9c;
  opacity: 1;
}
}