<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
            <a class="navbar-brand home-button" routerLinkActive="active" [routerLink]="[rootPath]">
                <span class="fa fa-home"></span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll" *ngFor="let item of menuItems" routerLinkActive="active">
                    <a [routerLink]="[item.path]">{{item.name}}</a>
                </li>
            </ul>
        </div>

    </div>
</nav>