<div class="row">
    <div class="col-xs-3">   
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a data-toggle="tab"href="#administradores">Administradores</a></li>
            <li><a data-toggle="tab"  href="#broadcast">Difusión de mensajes</a></li>
            <!--<li><a data-toggle="tab"  href="#menu2">Menu 2</a></li>-->
        </ul>
    </div>
    <div class="col-xs-9">
        <div class="tab-content">

            <div id="administradores" class="tab-pane fade in active">
                <h3>Administradores</h3>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="panel panel-default text-center complaint-types-panel">
                            <div class="relative panel-heading">
                                <label class="complaint-name-label">Administrador</label>
                                <span  data-target="#AdministradorModalDelete" data-toggle="modal" class="badge">x</span>
                            </div>
                            <div class="panel-footer">
                                <div>
                                    <div class="relative">
                                        <label>Correo</label>
                                    </div>
                                    <p>admin@complain.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="panel panel-default text-center complaint-types-panel">
                            <div class="relative panel-heading">
                                <label class="complaint-name-label">Leandro Jimenez</label>
                                <span  data-target="#AdministradorModalDelete" data-toggle="modal" class="badge">x</span>
                            </div>
                            <div class="panel-footer">
                                <div>
                                    <div class="relative">
                                        <label>Correo</label>
                                    </div>
                                    <p>leandro.jj@vmeta.com.do</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="panel panel-default text-center complaint-types-panel">
                            <div class="relative panel-heading">
                                <label class="complaint-name-label">José Aquino</label>
                                <span  data-target="#AdministradorModalDelete" data-toggle="modal" class="badge">x</span>
                            </div>
                            <div class="panel-footer">
                                <div>
                                    <div class="relative">
                                        <label>Correo</label>
                                    </div>
                                    <p>jose.aquino@vmeta.com.do</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="relative">
                    <!--<span  class="fa fa-spin fa-circle-o-notch loading"></span>-->
                    <button data-target="#administradorModal" data-toggle='modal' class="btn home-button-add"><span class="fa fa-plus"></span></button>
                </div>
            </div>
            <!--BROADCAST-->
            <div id="broadcast" class="tab-pane fade">
                <h3>Difusión de mensajes</h3>
                <div class="row" *ngIf="broadCasts.length >0">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let item of broadCasts">
                        <div class="panel panel-default text-center complaint-types-panel">
                            <div class="relative panel-heading">
                                <label class="complaint-name-label">{{item.title}}</label>
                                <span (click)="showModalToDeleteBroadCast(item.id)" data-target="#BroadCastModalDelete" data-toggle="modal" class="badge">x</span>
                            </div>
                            <div class="panel-footer">
                                <div *ngIf="!!item.message">
                                    <div class="relative">
                                        <label>Mensaje</label>
                                    </div>
                                    <p>{{item.message}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="div-loading-data" style="position: relative; margin: auto; left: 0;" *ngIf="broadCasts.length == 0">
                    <span class="fa fa-list-alt"></span>
                    <label>No se han enviado mensajes de difusión.</label>
                </div>

                <div class="relative">
                    <span *ngIf="isLoading" class="fa fa-spin fa-circle-o-notch loading"></span>
                    <button  (click)="initVmBroadCast()" data-target="#broadcastModal" data-toggle='modal' class="btn home-button-add"><span class="fa fa-plus"></span></button>
                </div>
            </div>

        </div>
    </div>
</div>

<!--Modals-->
<!-- Administrador -->
<div id="administradorModal" class="modal fade complainModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nuevo administrador</h4>
            </div>
            <form #administradorForm="ngForm" (ngSubmit)="saveAdministrador(adminModel)">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nombre*:</label>
                        <input required name="name"  [(ngModel)]="adminModel.name" type="text" class="form-control" placeholder="Requerido">
                    </div>
                    <div class="form-group">
                        <label>Correo*:</label>
                        <input required name="email" [(ngModel)]="adminModel.email"  type="text" class="form-control" placeholder="Requerido">
                    </div>

                    <div class="relative">
                        <div class="text-right">
                            <button type="button" class="btn default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn complain" [disabled]="!administradorForm.form.valid || isLoading"> 
                                 <i [ngClass]="isLoading ? 'fa fa-spin fa-refresh':'fa fa-check'"></i>
                                 Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="AdministradorModalDelete" class="modal fade complainModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmación</h4>
            </div>
            <div class="modal-body">
                <div class="form-group text-center">
                    <h4>¿Esta seguro que desea eliminar este registro?</h4>
                </div>
                <div class="relative">
                    <div class="text-right">
                        <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                        <button  type="button" class="btn btn-danger" > 
                                <!--<i [ngClass]="isLoading? 'fa fa-spin fa-refresh':'fa fa-check'"></i>-->
                                 Eliminar
                                </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Difusión de mensajes -->
<div id="broadcastModal" class="modal fade complainModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nuevo mensaje de difusión</h4>
            </div>
            <form #broadcastForm="ngForm" (ngSubmit)="saveBroadCast(broadCastModel)">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-10">
                            <div class="form-group">
                                <label>Usuario*:</label>
                                <select name="userId" class="form-control" [(ngModel)]="broadCastModel.userId"  [disabled]="broadCastModel.isAll">
                                    <option *ngFor="let user of users" [ngValue]="user.id">{{user.givenName}} ({{user.email}})</option>
                                </select>                        
                            </div>
                        </div>
                        <div class="col-xs-2" style="padding-top:20px;">
                            <div class="checkbox">
                                <label><input name="isAll" type="checkbox" [(ngModel)]="broadCastModel.isAll" />Todos</label>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Título*:</label>
                                <input required name="title"  [(ngModel)]="broadCastModel.title" type="text" class="form-control" placeholder="Requerido">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Mensaje*:</label>
                                <textarea required name="message" [(ngModel)]="broadCastModel.message" class="form-control" placeholder="Requerido"></textarea>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="relative">
                                <div class="text-right">
                                    <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn complain" [disabled]="!broadcastForm.form.valid || isLoading"> 
                                        <i [ngClass]="isLoading ? 'fa fa-spin fa-refresh':'fa fa-check'"></i>
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="BroadCastModalDelete" class="modal fade complainModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmación</h4>
            </div>
            <div class="modal-body">
                <div class="form-group text-center">
                    <h4>¿Esta seguro que desea eliminar este registro?</h4>
                </div>
                <div class="relative">
                    <div class="text-right">
                        <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                        <button (click)="removeBroadCast(entityToDelete.id,$event)" type="button" class="btn btn-danger" [disabled]="!entityToDelete || isLoading"> 
                                <i [ngClass]="isLoading? 'fa fa-spin fa-refresh':'fa fa-check'"></i>
                                 Eliminar
                                </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>