<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Audios
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text style="color:white" showWhen="ios">  <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon> &nbsp;Atrás</span>
        <ion-icon  style="color:white" name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  overflow-scroll="true">
    <!--<ion-card  *ngFor="let item of listAudio let i = index;">
        <audio src="{{item.url}}" preload="metadata" controls></audio>
        <ion-card-content>
            <p>
                {{item.name}}
                <button  class="float-right" color="danger"  (click)="deleteAudio(item)"  clear icon-start ion-button small >
                    <ion-icon name="md-trash" role="img"  ></ion-icon>
                    &nbsp;&nbsp; Borrar
                </button >
            </p>
        </ion-card-content>
    </ion-card>-->

    <ion-card *ngFor="let item of listAudio let i = index;">
        <!--<audio src="asdfsda" preload="metadata" controls></audio>-->
        <img (click)="playAudio(item)"  src="assets/img/play.png" style="height: 5%;width: 41%; margin: 0 auto;" alt="">
        <ion-card-content>
            <p>
              {{item.name}}
                <button  class="float-right" color="danger" (click)="deleteAudio(item)"   clear icon-start ion-button small >
                    <ion-icon name="md-trash" role="img"  ></ion-icon>
                    &nbsp;&nbsp; Borrar
                </button >
            </p>
        </ion-card-content>
    </ion-card>
</ion-content>