<!--
  Generated template for the PerfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar  color="primary">
    <ion-title>Perfil</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text style="color:white" showWhen="ios">  <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon> &nbsp;Atrás</span>
        <ion-icon  style="color:white" name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-list>
      <ion-item>
        <ion-avatar item-start style="float: left;">
          <ion-icon ios="ios-contact" md="md-contact" style="font-size: 40px;"></ion-icon>
        </ion-avatar>
        <h2>{{givenName}}</h2>
        <p>{{email}}</p>
      </ion-item>
      <a ion-item (click)="logout()">
        Cerrar sesión
      </a>
  </ion-list>
</ion-content>
