<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Videos
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text style="color:white" showWhen="ios">  <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon> &nbsp;Atrás</span>
        <ion-icon  style="color:white" name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content   overflow-scroll="true">
    <ion-card  *ngFor="let item of listVideo let i = index;">
        <video   controls="controls" preload="metadata"  webkit-playsinline="webkit-playsinline" class="videoPlayer">
          <source src="{{item.url}}" type="video/mp4"/>
        </video>

        <!--<video  src="{{item.url}}" controls="controls" preload="metadata"  webkit-playsinline="webkit-playsinline" class="videoPlayer">
        </video>-->
        
        <ion-card-content>
            <p>
                {{item.name}}
                <button  class="float-right" color="danger"  (click)="deleteVideo(item)"  clear icon-start ion-button small >
                    <ion-icon name="md-trash" role="img"  ></ion-icon>
                    &nbsp;&nbsp; Borrar
                </button >
            </p>
        </ion-card-content>
    </ion-card>

    
</ion-content>