body{
    background: #e9ebee;
}
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

nav{
  position: relative;
  top: 0;
  width: 100%;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}
.abolute{
    position: absolute;
}
.abolute-important{
    position: absolute !important;
}
::-webkit-scrollbar {
      width: 5px;
} 

::-webkit-scrollbar-track {
      background-color: #fff;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: #18bc9c; 
} /* this will style the thumb, ignoring the track */
 
.panel-body{
    padding: 10px;
}
.home-button{
  padding: 0px;
}
.home-button span{
    padding: 11px 12px;
    border: 3px solid #18bc9c;
    border-radius: 50px;
    font-size: 30px;
    transition: 0.5s;
    background: #18bc9c;
}
.home-button:hover span{
  border-color: white;
}
.home-button-add{
  background: transparent;
      position: fixed;
    bottom: 70px;
    right: 30px;
    padding: 0;

}
.home-button-add:active{
     box-shadow:none;
}
.home-button-add span{
    color:white;
    cursor: pointer;
    padding: 11px 14px;
    border: 3px solid #18bc9c;
    border-radius: 50px;
    font-size: 30px;
    transition: 0.5s;
    background: #18bc9c;

}
.home-button-add:hover span{
  border-color: white;
}

.complaint-name-label{
  font-size: 17px;
}


.complaint-types-panel  {
    margin-bottom: 20px;
    border: none;
    border-color: #18bc9c;
    border-radius: 3px 3px 0px 0px;
    margin-bottom: 50px;
}

.complaint-types-panel >.panel-heading {
    color: rgb(24, 188, 156);
    background-color: #2c3e50;
    border-color: #ddd;
}


.complaint-types-img{
    border-radius: 180px;
    width: 58%;
    height: 131px;
}

.complaint-types-panel> .panel-footer {
    padding: 0px;
    min-height: 70px;
    background: white;
    color: #2c3e50;
    border-top: 1px solid #e9ebee;
}

.complaint-types-panel> .panel-footer .btn-group {
    width: 100%;
}
.complaint-types-panel> .panel-footer p {
    font-size: 13px;
        padding: 0px 3px
}
.complaint-types-panel> .panel-footer .btn-group .btn {
       width: 50%;
       border-radius:0px; 
}
.complaint-types-panel >.panel-heading .badge {
    color: #e9ebee;
    background-color: #d9534f;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 0px 0px 0px 15px;
    font-size: 15px;
}

.complaint-types-panel .panel-footer  .relative{
  text-align: left;
}
.complaint-types-panel .panel-footer span.fa{
  font-size: 30px;
  margin: 5px;
}
.complaint-types-panel .panel-footer  .relative > label{
  font-style: italic;
  margin-left: 13px;
  font-size: 14px;
}
.inline-block{
    display: inline-block;
}
.block{
    display: block;
   
}
.footer-below{
  padding: 10px;
}
.relative{
  position: relative;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #2c3e50;
    color: #18bc9c;
}



.complainModal .btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 10px 20px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.complainModal .success {background-color: #4CAF50;} /* Green */
.complainModal .success:hover {background-color: #46a049;}

.complainModal .app-green {background-color: #18bc9c; border-radius: 0; transition: 0.5s} /* app-green */
.complainModal .app-green:hover {background-color: #11a285;    border-right: 3px solid #1e6f6a;}

.complainModal .info {background-color: #2196F3;} /* Blue */
.complainModal.info:hover {background: #0b7dda;}

.complainModal .complain {background-color: #2c3e50;} /* Blue */
.complainModal .complain:hover {background: #445a72;}

.complainModal.warning {background-color: #ff9800;} /* Orange */
.complainModal.warning:hover {background: #e68a00;}

.complainModal .danger {background-color: #f44336;} /* Red */ 
.complainModal .danger:hover {background: #da190b;}

.complainModal .default {background-color: #e7e7e7; color: black;} /* Gray */ 
.complainModal .default:hover {background: #ddd;}

.complainModal .divImage{
  text-align: center;
}
.complainModal .previewImage{
         width: 30%;
    border: 2px solid #31af91;
    padding: 10px;
    border-radius: 200px;
    height: 170.4px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;

}

.complainModal .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.complainModal .inputfile + label {
    background: #ffffff;
    padding: 10px 20px;
    color: #31af91;
    cursor: pointer;
    border-radius: 5px;
}

.complainModal .inputfile + label:hover{
    background: #31af91;
    transition: 0.2s;
    color:white;
}

div.relative .loading{
    font-size: 50px;
    color: #18bc9c;
    position: fixed;
    bottom: 150px;
    right: 35px;
    padding: 0;
}

.app-btn-edit{
    background: #f0ad4e;
    color: white;
    padding: 2px 15px;
    border-radius: 5px 0px 0px 0px;
    cursor: pointer;
}
.div-loading-data, .div-middle{
position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  color: #31af91;
  text-align: center;
}
.div-loading-data > span{
    font-size: 80px;
}
.panel-inbox-body{
    overflow: hidden;
    overflow-y: auto;    
    height: 530px;
}
.app-list-group{
    position: relative;
}
.app-list-group-item  i{
    font-size: 11px;
    position: absolute;
    top: 3px;
    right: 5px;
    font-weight: bold;
}
.app-list-group-item  span{
    font-size: 15px;
    display: block;
    margin-bottom: 3px;
}
.app-list-group-item  p{
    font-size: 12px;
    margin-bottom: 5px;
    font-style: italic;
}
button.app-list-group-item {
    border: 0;
    border-bottom: 1px solid #E9EBF3;
    border-radius: 0 !important;
    transition: 0.3s; 
}

button.app-list-group-item:hover{
    background-color: rgba(24, 188, 156, 0.05);

}

.app-inbox > div{
    padding: 0
}
.app-inbox .panel-inbox{
    border: 0;
}
.app-inbox .panel-inbox > .panel-heading {
    color: #18bc9c;
    background-color: #2c3e50;
    border-color: #2c3e50;
    font-size: 23px;
    border: 0;
    border-radius: 0;
    padding: 0px;
    height: 40px;
    border-right: 5px solid #18bc9c;
}
.app-inbox .panel-inbox > .panel-heading > :first-child{
    position: absolute;
    top:10px;
    left: 10px;
    margin: 0;
}
.app-inbox-dropdowm{
    right: 10px;
    top: 1px;
}
.app-inbox-dropdowm > button{
    color: #18bc9c;
    background-color: #2c3e50;
    border-color: #2c3e50;
    font-weight: 700;
    transition: 0.2s;
    border-radius: 1px; 
    padding: 4px 6px;  
}
.app-inbox-dropdowm > button:hover{
    background-color: #18bc9c;
    color: #fff;
    border-color: #18bc9c;
}
.app-inbox-dropdowm > button:focus{
    background-color: #18bc9c;
    color: #fff;
    border-color: #fff;
}
.app-inbox-dropdowm ul{
  right: 0;
    left: initial;
    min-width: 200px;
    border-radius: 2px;
    padding: 6px 10px;
}
.app-inbox-dropdowm ul .divider{
    margin: 4px 0px;
}
.div-inbox-complaint-not-selected > span{
    font-size: 100px;
}
.table-cell{
    display: table-cell;
}
.div-complaint-details > .complaint-header{
    margin: 5px 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(233, 235, 238);
}

.div-complaint-details > .complaint-header >p{
    font-size: 20px;
    color: #2c3e50;
}
.div-complaint-details > .complaint-header span{
       display: block;
    font-size: 15px;
    color: #18bc9c;
}

.div-complaint-details > .complaint-header i{
    display: block;
    font-size: 10px;
}

.div-complaint-details > .complaint-header img{
    width: 40px;    
    height: 40px;
    border-radius: 110px;
}
.div-complaint-details > .complaint-header .inline-block{
    vertical-align: middle;
}
.lineChartDescription{
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: center;
    padding: 5%;
}

.complaint-body .btn-group{
  margin-top: 10px;

}
.complaint-body .btn{
       padding: 5px 20px;
}
.complaint-body .btn-group span{
    background: rgba(44, 62, 80, 0.51); 
    font-size: 20px;
    margin: 0 auto;
    width: 40px;
    color: #ffffff;
    height: 40px;
    border: 2px solid #ffffff;
    border-radius: 21px;
    padding: 9px;
}
.sebm-google-map-container {
  height: 320px;
}
.pointer:hover{
    cursor: pointer;
}
.div-address-info > div{
    margin-bottom: 20px;
}
.div-address-info label, .div-address-info h3{
    color: #2c3e50;
}

.noComplaintToshow{
    font-size: 20px;
    color:#18bc9c;
}

.noComplaintToshow> span{
    font-size: 70px;
}

.centralized{
    margin: 0 auto !important;
    float: none !important;
}

.inlinedp{
    margin: 0 auto !important;
    float: none !important;
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #18BC9C;
}