<!--
  Generated template for the Register1 page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar  color="primary" class="app-navbar">
    <ion-title>    
      <img src="assets/img/logo.png" style="max-width: 60%;" alt="" style="max-width: 25%;margin-top: 3%;">
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <br>
      <h4 style="color: rgb(21, 41, 76);">Necesitarás una contraseña  </h4>
      <small>Asegúrate que contenga 5 caracteres o más y que al menos contenga un dígito.</small>
      <br /><br />
      <form [formGroup]="form" (ngSubmit)="next()">
        <ion-item  [class.invalid]="!form.controls.password.valid && (form.controls.password.dirty || submitAttempt)">
          <ion-label stacked color="primary">Contraseña* </ion-label>
          <ion-input  type="password"  formControlName="password" ></ion-input>
        </ion-item>
        <ion-item  [class.invalid]="!form.valid && form.controls.password.valid  && form._errors && form._errors['mismatch'] && (form.controls.password.dirty || submitAttempt)">
          <ion-label stacked color="primary">Confirmar  Contraseña* </ion-label>
          <ion-input type="password"  formControlName="confirmPassword" ></ion-input>
        </ion-item>
        <ion-item class="ion-item-error-message" *ngIf="!form.controls.password.valid  && (form.controls.password.dirty || submitAttempt) && form.controls.password.errors['required']">
           <p>Por favor ingrese su contraseña.</p>
        </ion-item>
        <ion-item class="ion-item-error-message" *ngIf="!form.controls.password.valid  && (form.controls.password.dirty || submitAttempt) && form.controls.password.errors['minlength']">
           <p>Por favor ingrese 5 caracteres o más.</p>
        </ion-item>
        <ion-item class="ion-item-error-message" *ngIf="!form.valid  && form.controls.password.valid && form._errors && form._errors['mismatch']">
           <p>Las contraseña no coinciden.</p>
        </ion-item>
      </form>
  </ion-list>
  
  <div style="position: absolute; bottom: 6%;">
    <ion-checkbox color="dark" style="float:left; padding: 13px; padding-left: 0;" [(ngModel)]="terms"></ion-checkbox>
    <ion-label style="float:left;">Acepto términos y condiciones</ion-label>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary" class="app-footer">
    <ion-buttons end> 
        <button ion-button (click)="next()">  Siguiente</button>
      </ion-buttons>
  </ion-toolbar>
</ion-footer>