page-register-3 {

    .app-navbar  .toolbar-background{
        background: #18bc9c;
    }
    .app-footer  .toolbar-background{
        background: #18bc9c;
    }
    ion-item{
        padding-left: 0 !important;

    }
}
