
historial{
   .item{
       padding-left:0px;
   }
    .app-navbar  .toolbar-background{
        background: #18bc9c;
        color: white;
    }
    .app-text-center{
        text-align: center;
    }
    .app-relative{
        position: relative;
    }
    .app-item-content span{
        position:absolute; 
        right: 10px;
        top: 0px;
        color:#2C3E50;
    }
}