<ion-header>
    <ion-navbar class="app-navbar" color="primary">
         <ion-title><img  style="width: 10%" src="assets/img/logo.png"/> 
          <label>ASDE</label></ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>


    <ion-segment [(ngModel)]="tabActual" >
        <ion-segment-button value="Mensajes">
            Mensajes
        </ion-segment-button>
        <ion-segment-button value="Historial">
            Historial
        </ion-segment-button>
        <ion-segment-button value="Archivadas">
            Archivadas
        </ion-segment-button>
    </ion-segment>
  

    <div [ngSwitch]="tabActual">
        <ion-list *ngSwitchCase="'Mensajes'">
            <br>
            <ion-list>
                 <br>
                <ion-item class="app-item-list" *ngFor="let item of broadCast;  let i = index" >
                    <div class="app-item-content" style="display: inline-block">
                        <h2> {{item.title}} </h2>
                        <p>{{item.message}} </p>
                    </div>
                </ion-item>
            </ion-list>
        </ion-list>

        <ion-list *ngSwitchCase="'Historial'">
            <!--<h4 class="app-text-center" style="color:#2C3E50"><b><label>Historial de denuncias</label></b></h4>-->
            <ion-grid style="padding-top: 14px;">
                <ion-row>
                    <ion-col>
                    <span style="color: red"><ion-icon ios="ios-radio-button-on" md="ios-radio-button-on-outline"></ion-icon> Enviada</span>
                    </ion-col>
                    <ion-col>
                        <span style="color: #87871c" ><ion-icon  ios="ios-clock" md="md-clock"></ion-icon> En curso</span>
                    </ion-col>
                    <ion-col>
                        <span  style="color: green" ><ion-icon  ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon> Revisada</span>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <br/>
           
            <ion-list *ngFor="let item of complaint;  let i = index" >
                <div *ngIf="item.status != 1">
                    <ion-item class="app-item-list" (click)="viewDetail(item)">
                        <ion-avatar style="display:inline-block" item-start>
                            <img src="{{item.complaintTypeImageUrl}}">
                        </ion-avatar>
                        <div *ngIf="item.status != 1 "  class="app-item-content" style="display: inline-block">
                            <h2>{{item.complaintTypeName}} </h2>
                            <span *ngIf="item.status == 0 " style="color: red"><ion-icon ios="ios-radio-button-on" md="ios-radio-button-on-outline"></ion-icon></span>
                            <span *ngIf="item.status == 2 " style="color: #87871c" ><ion-icon  ios="ios-clock" md="md-clock"></ion-icon></span>
                            <span *ngIf="item.status == 3 " style="color: green" ><ion-icon  ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon></span>
                            <p>{{item.description}}</p>
                        </div>

                    </ion-item>
                    <ion-item-options>
                        <button ion-button icon-only danger (click)="delete(item)">
                                <ion-icon name="trash" danger></ion-icon>
                            </button>
                    </ion-item-options>
                </div>
                
            </ion-list>
        </ion-list>
        <ion-list *ngSwitchCase="'Archivadas'">
              <ion-list *ngFor="let item of complaint;  let i = index" >
                  <div *ngIf="item.status == 1">
                    <ion-item class="app-item-list" (click)="viewDetail(item)">
                        <ion-avatar style="display:inline-block" item-start>
                            <img src="{{item.complaintTypeImageUrl}}">
                        </ion-avatar>
                        <div   class="app-item-content" style="display: inline-block">
                            <h2>{{item.complaintTypeName}} </h2>
                            <p>{{item.description}}</p>
                        </div>

                    </ion-item>
                    <ion-item-options>
                        <button ion-button icon-only danger (click)="delete(item)">
                                <ion-icon name="trash" danger></ion-icon>
                            </button>
                    </ion-item-options>
                  </div>
            </ion-list>
        </ion-list>
    </div>






    <!--<ion-list >
        <ion-item-sliding style="padding-left: 0px;" *ngFor="let item of complaint;  let i = index" >
            <ion-item (click)="viewDetail(item)">
              <img  src="{{item.complaintTypeImageUrl}}" alt=""  style="width: 32px; height: 32px;">
                 {{i + 1 }}. {{item.complaintTypeName}} 
              <label *ngIf="item.status == 0 " color="primary" style="float:right"><ion-icon ios="ios-mail" md="md-mail"></ion-icon></label>
            <label *ngIf="item.status == 1 " color="primary" style="float:right"><ion-icon  ios="ios-bookmark" md="md-bookmark"></ion-icon></label>
            <br/><small>{{item.description}}</small>
            </ion-item>

            <ion-item-options>
                <button ion-button icon-only danger (click)="delete(item)">
                    <ion-icon name="trash" danger></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>
   
    </ion-list>-->

</ion-content>