<ion-header>
  <ion-navbar>
    <ion-title>
      Cámara
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding overflow-scroll="true" >

      <div *ngIf="base64Image == '' && videoSRC == ''" >
        <ion-row>
            <ion-col col-12 col-sm >
              <h4><b><label>¡Usa la cámara y crea tu denuncia!</label></b></h4>
            </ion-col>
        </ion-row>

          <hr>
              <br>
              <br>
          
          <ion-row>
            <ion-col col-sm col-12 >
              <br>
                <button ion-button  block (click)="takePic()">Cámara</button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-sm col-12 >
                <button ion-button  block (click)="startRecording()">Video</button>
              <br>
            </ion-col>
          </ion-row>
      </div>

      <div  *ngIf="base64Image != ''">
        <ion-row>
            <ion-col col-12 col-sm >
              <h4><b><label>¡Imagen capturada!</label></b></h4>
            </ion-col>
        </ion-row>
          <hr>
          <br> 
          <br> 
          
          <ion-card>
              <img [src]="base64Image" *ngIf="base64Image"/>
              <div class="card-title"></div>
              <div class="card-subtitle"></div>
          </ion-card>
           <ion-row>
            <ion-col col-sm col-6 style="text-align: center">
                <button ion-button (click)="eliminar()" >Eliminar</button>
              <br>
            </ion-col>
            <ion-col col-sm col-6 style="text-align: center">
                <button ion-button  (click)="seguir()" >Seguir</button>
              <br>
            </ion-col>
          </ion-row>
      </div>

       <!--<div  *ngIf="videoSRC != ''">
        <ion-row>
            <ion-col col-12 col-sm >
              <h4><b><label>Video capturado!</label></b></h4>
            </ion-col>
        </ion-row>
          <hr>
          <br> 
          <br> 
          
          <ion-card>
              <video #myVideo [src]="videoSRC"  width="320" height="240" *ngIf="videoSRC" controls autoplay> </video>
              <div class="card-title"></div>
              <div class="card-subtitle"></div>
          </ion-card>
           <ion-row>
            <ion-col col-sm col-6 style="text-align: center">
                <button ion-button (click)="eliminar()" >Eliminar</button>
              <br>
            </ion-col>
            <ion-col col-sm col-6 style="text-align: center">
                <button ion-button  (click)="seguir()" >Seguir</button>
              <br>
            </ion-col>
          </ion-row>
      </div>-->
</ion-content>
