<ion-header>
  <ion-navbar  class="app-navbar">
    <ion-title>
      Denunciar - Paso 1
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
    <ion-row>
        <ion-col col-12 col-sm >
          <h4><b><label>Tipos de denuncias</label></b></h4>
        </ion-col>
    </ion-row>
    <hr>
  
    <ion-row >
        <ion-col col-12 col-sm >
          <div class="selector center">
            <ul>
              <li (click)= "goToDenunciarDireccion(complaintType)" *ngFor="let complaintType of complaintTypes">
                <input id='{{complaintType.name}}' type='checkbox'>
                <label for='{{complaintType.name}}'>  
                    <div class="text">
                      <ion-icon *ngIf="!complaintType.imageUrl" name="md-help" ></ion-icon> 
                      <img *ngIf="complaintType.imageUrl" [src]="complaintType.imageUrl" alt=""  style="width: 45%;  margin: -6px;">
                      <br>
                      <span>{{complaintType.name}}</span>
                    </div>
                </label>
              </li>
             
            </ul>
          </div>
          
        </ion-col>
    </ion-row>
   
    <!--<div class="selector center">
      <ul>
        <li>
          <input id='c1' type='checkbox'>
          <label for='c1'>  
              <div class="text">
                <ion-icon name="ios-more" ></ion-icon> 
                <span>Otros</span>
              </div>
          </label>
        </li>
      </ul>
    </div>
  -->
  </ion-content>
