denunciar-tipo{
    .selector ul {
        list-style: none;
        padding: 0;
        columns: 2;
    }

    .selector li {
        height: 100%;
        padding: 10px;
    }
    .center{
        margin: 0 auto;
        display: table;
    }
    .selector li input { display: none; }

    .selector li input + label {
        width: 0;
        height: 0;
        line-height: 1px;
        background: white;
        border-radius: 50%;
        text-align: center;
        font-size: 1px;
        overflow: hidden;
        cursor: pointer;
        box-shadow: none;
    }
    .selector li input + label:hover { background: #f0f0f0; }

    .selector li input:checked + label {
    background: #5cb85c;
    color: white;
    }

    .selector li input:checked + label:hover { background: #449d44; }

    .selector.open li input + label {
        width: 93px;
        /* padding: 2px; */
        height: 93px;
        line-height: 20px;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
        font-size: 83%;
        font-weight: 700;
        display: table;
        word-break: break-word;
    }
    .selector.open li input + label > div.text {
        display: table-cell;
        vertical-align: middle;
    }

    .selector.open li input + label > div.text > ion-icon {
        display: block;
        font-size: 30px;
    }
    .denunciar{
        display: block;
        font-size: 2.2em;
    }

    .alert-icon{
    font-size: 3.2em;
    }
    .alert-p{
        font-size: 16px;
    }

    .padding-top-0{
        padding-top: 0px;
    }
    .margin-top-negative-15{
        margin-top: -15px;
    }

     .app-navbar  .toolbar-background{
        background: #18bc9c;
        color: white;
    }
    .app-navbar .bar-button-default-ios{
        color: white;
    }

    .app-navbar .toolbar-title-ios {
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
    color: white;
    pointer-events: auto;
}
    .app-footer  .toolbar-background{
        background: #18bc9c;
    }
}