
<ion-content class="app-main-content" padding>
  <div class="app-asde-logo-div app-text-center">
    <img src="assets/img/logo.png" alt="">
   </div>
    <div class="app-welcome-text">
       <h2><b> Iniciar sesión </b></h2>
       <br>
     <ion-list>
        <ion-item class="padding-0">
          <ion-label floating>Correo electrónico</ion-label>
          <ion-input type="text"   [(ngModel)]="username"  ></ion-input>
        </ion-item>

        <ion-item class="padding-0">
          <ion-label floating>Contraseña</ion-label>
          <ion-input type="password"  [(ngModel)]="password" ></ion-input>
        </ion-item>
      </ion-list>
      <div>
        <a >¿Has olviado tu contraseña?</a>
      </div>
      <div class="app-btn-div" padding>
       <button ion-button full (click)="entrar()">Entrar</button>
      </div>
     </div>
</ion-content>
