login {
.app-text-center{
        text-align: center;
    }
    .app-main-content{
        background-color: #fff;
        color: #2c3e50;
    }
   .app-main-content .app-asde-logo-div{
        margin-bottom: 30px;
    }

    .app-main-content .app-welcome-text{
         margin-left: 8%;
    }
   .app-main-content .app-asde-logo-div img{
        max-width: 60%; 
        max-width: 50%; 
        margin-top: 7%;
    }
     .app-main-content .app-btn-div button:first-child{
            border-radius: 75px;
        background-color: #18bc9c;
        color: white;
        border: 1px solid #18bc9c;
    }
    .padding-0{
        padding: 0;
    }
}
