
<ion-content padding style="background-color: rgb(227, 226, 246); color: #15294c;">
  <div style="text-align: center;">
    <img src="assets/img/logo.png" style="max-width: 60%;" alt="" style="max-width: 50%; margin-top: 7%;">
   </div>
    <br/> 
    <br/> 
    <br/> 
     <div style="padding-left: 8%;">
       <h2><b>Tu cuenta se ha creado exitosamente en Complain.</b></h2>
       <h4>Desde ya puedes denunciar lo que te afecta en la comunidad.</h4>
       <br><br>
       <div style="text-align:center">
          <button ion-button round outline style="width: 60%; background-color: #e9e9e9;" (click)="next()"><b>¡Vamos!</b></button>
       </div>
     </div>
</ion-content>
