<ion-tabs selectedIndex="1" >
  <ion-tab tabsHideOnSubPages="true" (ionSelect)="takePic()" tabTitle="Cámara" tabIcon="md-camera"></ion-tab>
  <ion-tab tabsHideOnSubPages="true" [root]="tab1Root" tabTitle="Inicio" tabIcon="ios-home-outline"></ion-tab>
  <ion-tab tabsHideOnSubPages="true" (ionSelect)="takeVoice()" tabTitle="Grabadora" tabIcon="md-microphone"></ion-tab>
</ion-tabs>
  