<div class="row app-inbox">
    <div class="col-xs-4">
        <div class="panel panel-inbox">
            <div class="panel-heading">
                <h4>Denuncias</h4>
                <div class="dropdown abolute app-inbox-dropdowm">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Filtrar
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li>
                            <label for="">Código de denuncia</label>
                            <div class="form-group">
                                <input [(ngModel)]="filterCode" (ngModelChange)="filterByCode($event)" class="form-control" placeholder="---" type="text"
                                />
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li><a class="pointer" (click)="filterByRecent()">Recientes</a></li>
                        <li class="divider"></li>
                        <li><a class="pointer" (click)="filterByToday()">Hoy</a></li>
                        <li class="divider"></li>
                        <li><a class="pointer" (click)="filterByLastWeek()">Última semana</a></li>
                        <li class="divider"></li>
                        <li><a class="pointer" (click)="filterByPending()">Pendientes</a></li>
                        <li class="divider"></li>
                        <li><a class="pointer" (click)="filterByAttended()">Atentidos</a></li>
                        <li class="divider"></li>
                        <li><a class="pointer" (click)="getAll()">Todos</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body panel-inbox-body">
                <div class="row" *ngIf="complaints.length >0">
                    <div class="col-xs-12">
                        <div class="list-group app-list-group">
                            <div *ngFor="let item of complaints">
                                <button (click)="selectComplaint(item)" href="#" class="list-group-item app-list-group-item">
                                    <span>{{item.complaintTypeName}}</span>
                                    <i>{{item.createdDate | date:"dd/MM/yy"}}</i>
                                    <p>{{item.description}}</p>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="div-middle div-inbox-complaint-not-selected" *ngIf="complaints.length == 0">
                    <span class="fa fa-bullhorn block"></span> No hay denuncias para mostrar
                </div>
            </div>
        </div>

    </div>
    <div class="col-xs-8">
        <div class="panel panel-inbox">
            <div class="panel-heading">
                <h4 *ngIf="!complaintSelected">Detalles de la denuncia</h4>
                <h4 *ngIf="!!complaintSelected">Detalles de la denuncia: <span style="color: white;">{{complaintSelected.codigo}}</span></h4>
                <div class="dropdown abolute app-inbox-dropdowm">
                    <button *ngIf="!!complaintSelected" class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="fa fa-cog"></span></button>
                    <ul class="dropdown-menu">
                        <li *ngIf="!!complaintSelected && complaintSelected.status != 0"><a class="pointer" (click)="ChangeStatus(complaintSelected.id, 0)">Marcar como pendiente</a></li>
                        <li *ngIf="!!complaintSelected && complaintSelected.status != 2"><a class="pointer" (click)="ChangeStatus(complaintSelected.id, 2)">Marcar como en proceso</a></li>
                        <li *ngIf="!!complaintSelected && complaintSelected.status != 3"><a class="pointer" (click)="ChangeStatus(complaintSelected.id, 3)">Marcar como atendida</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body panel-inbox-body relative">
                <div *ngIf="!complaintSelected" class="div-middle div-inbox-complaint-not-selected">
                    <span class="relative fa fa-envelope"></span>
                    <p>Seleccione una denuncia para ver los detalles</p>
                </div>
                <div *ngIf="!!complaintSelected" class="col-xs-12 div-complaint-details">
                    <div class="complaint-header">
                        <p>{{complaintSelected.description}}</p>
                        <span style="font-size:20px; color: #a94442" class="pull-right fa fa-circle-thin" *ngIf="!!complaintSelected && complaintSelected.status == 0"> Pendiente!</span>
                        <span style="font-size:20px; color: #8a6d3b" class="pull-right fa fa-clock-o text-warning" *ngIf="!!complaintSelected && complaintSelected.status == 2"> En Proceso!</span>
                        <span style="font-size:20px" class="pull-right fa fa-check" *ngIf="!!complaintSelected && complaintSelected.status == 3"> Atentida!</span>
                        <div class="table-cell">
                            <img src="{{complaintSelected.complaintTypeImageUrl}}" alt="">
                            <div class="inline-block">
                                <span class="relative">{{complaintSelected.complaintTypeName}}</span>
                                <i>{{complaintSelected.createdDate | date:"dd/MM/yy hh:mm:ss"}}</i>
                            </div>
                        </div>
                    </div>
                    <div class="complaint-body">
                        <div *ngIf="complaintSelected.addressType == 0" class="googleMap">
                            <sebm-google-map [zoom]="16" [latitude]="complaintSelected.latitude" [longitude]="complaintSelected.longitude">
                                <sebm-google-map-marker [latitude]="complaintSelected.latitude" [longitude]="complaintSelected.longitude"></sebm-google-map-marker>
                            </sebm-google-map>
                        </div>
                        <div *ngIf="complaintSelected.addressType == 1" class="div-address-info">
                            <div class="form-group col-xs-12">
                                <h3>Información de la denuncia</h3>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group ">
                                    <label for="">Sector</label>
                                    <p>{{complaintSelected.sector}}</p>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="">Calle</label>
                                    <p>{{complaintSelected.street}}</p>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="">Residencia</label>
                                    <p>{{complaintSelected.residencia}}</p>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="">Descripción de la dirección</label>
                                    <p>{{complaintSelected.addressDescription}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="complainModal btn-group btn-group-justified">
                            <a href="#" data-toggle="modal" data-target="#VideosModal" class="btn app-green">
                                <span class="block fa fa-file-video-o"></span>
                                Videos
                            </a>
                            <a href="#" data-toggle="modal" data-target="#myModal" class="btn app-green">
                                <span class="block fa fa-file-image-o"></span>
                                Imagenes
                            </a>
                            <a href="#" data-toggle="modal" data-target="#AudiosModal" class="btn app-green">
                                <span class="block fa fa-file-audio-o"></span>
                                Audios
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Imagenes</h4>
      </div>
      <div class="modal-body">
          <label *ngIf="!!complaintSelected && !complaintSelected.attachments.length" class="text-center">No se han enviado imagenes en esta propuesta.</label>
         <div id="myCarousel" class="carousel slide" data-ride="carousel" *ngIf="!!complaintSelected && complaintSelected.attachments.length">
            <!-- Indicators -->
            <ol class="carousel-indicators" >
                <li  *ngFor="let item of complaintSelected.attachments;  let i = index" data-target="#myCarousel"   [attr.data-slide-to]="i"  [ngClass]="{'active': i == 0}" ></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item" [ngClass]="{'active': i == 0}"  *ngFor="let item of complaintSelected.attachments;  let i = index" >
                    <img  src="http://complainapi.azurewebsites.net/{{item.url}}" alt="Los Angeles">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>




<div id="VideosModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Videos</h4>
      </div>
      <div class="modal-body text-center">
          <label>No se han enviado videos en esta propuesta.</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>


<div id="AudiosModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Audios</h4>
      </div>
      <div class="modal-body text-center">
          <label>No se han enviado audios en esta propuesta.</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>