<!--
  Generated template for the Register1 page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar  color="primary" class="app-navbar">
    <ion-title>    
      <img src="assets/img/logo.png" style="max-width: 60%;" alt="" style="max-width: 25%;margin-top: 3%;">
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <br>
      <h4 style="color: rgb(21, 41, 76);">¿Cuál es tu correo electrónico?  </h4>
      <small>No te enviaremos spam</small>
      <br /><br />
      <form [formGroup]="form" (ngSubmit)="next()">
        <ion-item [class.invalid]="!form.controls.email.valid && (form.controls.email.dirty || submitAttempt)">
          <ion-label stacked color="primary">Dirección de correo electrónico* </ion-label>
          <ion-input type="email" formControlName="email" ></ion-input>
        </ion-item>
        <ion-item class="ion-item-error-message" *ngIf="!form.controls.email.valid  && (form.controls.email.dirty || submitAttempt)">
          <p>Por favor ingrese su dirección de correo electrónico.</p>
        </ion-item>
      </form>
  </ion-list>
</ion-content>


<ion-footer>
  <ion-toolbar color="primary" class="app-footer">
    <ion-buttons end> 
        <button ion-button (click)="next()">  Siguiente</button>
      </ion-buttons>
  </ion-toolbar>
</ion-footer>