<ion-header>
  <ion-toolbar class="app-navbar" color="primary">
    <ion-title>
      Descripción
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text style="color:white" showWhen="ios">  <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon> &nbsp;Atrás</span>
        <ion-icon  style="color:white" name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item>
        <ion-avatar item-start >
          <img style="text-align:center; margin: 0 auto;" src="assets/img/logo.png">
        </ion-avatar>
        <br/>
        <h2>Código</h2>
        <ion-note item-end>
             {{detailView.codigo}}
        </ion-note>
        
        <br/>
        <h2>Tipo</h2>
        <ion-note item-end>
             {{detailView.complaintTypeName}}
        </ion-note>
        
      </ion-item>

      <ion-item>
        Descripción
        <p>{{detailView.description}}</p>
      </ion-item>

      <ion-item *ngIf="detailView.addressType == 1">
        Dirección
        <p>{{detailView.street + ", "  + detailView.residencia +", "+ detailView.sector + "." }}</p>
      </ion-item>

      <ion-item *ngIf="detailView.addressType == 1">
         Descripción de la dirección
        <p>{{detailView.addressDescription}}</p>
      </ion-item>

      <br />
      <div *ngIf="detailView.addressType == 0" style="text-align:center;">
        <h2>Ubicación</h2>
        <map #map ></map>   
        <button  (click)="map.setLocation(detailView.latitude, detailView.longitude)"   id="buttonLocation" style="display: none;">--</button>
      </div>

      <div *ngIf="detailView.addressType == 1" style="text-align:center;">
        <h2>Ubicación</h2>
        
        <ion-item>
          Calle
          <p>{{detailView.street}}</p>
        </ion-item>
        
        <ion-item>
          Residencia
          <p>{{detailView.residencia}}</p>
        </ion-item>
          
        <ion-item>
          Sector
          <p>{{detailView.sector}}</p>
        </ion-item>

        <ion-item *ngIf="detailView.addressDescription">
          Descripción
          <p>{{detailView.addressDescription}}</p>
        </ion-item>
      </div>

     
  </ion-list>
</ion-content>