<div class="row app-inbox">
    <div class="panel panel-inbox">
        <div class="relative panel-heading">
            <h4>Denuncias agrupadas por tipo</h4>
        </div>
        <div class="panel-body">
            
            <div class="col-xs-8">
                <canvas baseChart [colors]="barChartColors" [data]="barChartData" [datasets]="barChartDatasets" [labels]="barChartLabels"
                    [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </canvas>
            </div>
            <div class="col-xs-4">
                <div class="col-xs-12">
                    <div class="col-xs-8 centralized">
                        <div class="form-group">
                            <label for="filter">Tipos de filtro</label>
                            <select [(ngModel)]="selectedFilter" (ngModelChange)="selectedFilterChange($event)" class="form-control" id="filter" required>
                <option *ngFor="let filterType of filterTypes" [value]="filterType">{{filterType}}</option>
            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" *ngIf="selectedFilter == 'Fecha'" style="margin-bottom: -20px;">
                    <div class="centralized">
                        <my-date-picker name="mydate" [options]="myDatePickerOptions" [locale]="localeDatePicker" (dateChanged)="onDateChanged($event)"
                            [(ngModel)]="myDatePickerModel" required></my-date-picker>
                    </div>
                </div>
                <div class="col-xs-12" *ngIf="selectedFilter == 'Fecha'">
                    <div class="lineChartDescription">
                        En el Chart se muestran todas las denuncias concernientes a {{actualDate.format('LL')}}
                    </div>
                </div>
                <div class="col-xs-12" *ngIf="selectedFilter == 'Todos'">
                    <div class="lineChartDescription">
                        En el Chart se muestran todas las denuncias que se han realizado agrupadas por tipo.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>