<ion-header>
  <ion-navbar class="app-navbar" color="primary">
    <ion-title center>
      Denunciar - Paso 3
    </ion-title>
    <ion-buttons end="" class="bar-buttons bar-buttons-ios">
        <button (click)="presentConfirm()"  icon-only="" ion-button="" class="disable-hover bar-button bar-button-ios bar-button-default bar-button-default-ios bar-button-ios-dark">
          <span class="button-inner" style="color:white;">
            <ion-icon name="ios-send-outline" role="img" class="icon icon-ios ion-ios-more" aria-label="more"></ion-icon>
          </span>
          <div class="button-effect"></div>
        </button>
      </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
      <ion-col col-12 col-sm >
         <h4><b><label>Descripción de la denuncia</label></b></h4>
      </ion-col>
  </ion-row>

  <ion-list>  
  <br>
     
    <ion-item>
      <ion-label  stacked>Agregar Descripción</ion-label>
      <ion-textarea elastic [(ngModel)]="descripcion"></ion-textarea>
    </ion-item>
  </ion-list>  

  <!--<div  *ngIf="listBase64Image.length">

    <br>
    <h4><b><label>Anexos</label></b></h4>
    <hr>
    <br>
    <ion-list reorder="true" (ionItemReorder)="reorderItems($event)" >
          <ion-item-sliding *ngFor="let item of listBase64Image let i = index;">
              <ion-item>
                <img [src]="item.data" alt=""  style="width: 32px; height: 32px;">
                  {{i+1}}. {{item.name}}
              </ion-item>
  
              <ion-item-options>
                  <button ion-button icon-only danger (click)="deleteImage(item)" >
                      <ion-icon name="trash" danger></ion-icon>
                  </button>
              </ion-item-options>
          </ion-item-sliding>
      </ion-list>
  </div>-->
  <br/>

  <h4><b><label>Anexos</label></b></h4>
    <ion-item (click)="viewAlbumPics()"> 
      <ion-icon name="md-images" item-start></ion-icon>
      Fotos
      <ion-badge class="float-right" item-end>{{listBase64Image.length}}</ion-badge>
    </ion-item>
    <ion-item  (click)="viewAlbumVideos()"> 
      <ion-icon name="md-videocam" item-start></ion-icon>
      Videos
      <ion-badge class="float-right" item-end>{{listVideo.length}}</ion-badge>
    </ion-item>
    <ion-item  (click)="viewAlbumAudios()">
      <ion-icon name="md-musical-notes" item-start></ion-icon>
      Audios
      <ion-badge class="float-right" item-end>{{listAudio.length}}</ion-badge>
  </ion-item>


  <ion-fab right bottom>
    <button ion-fab color="light"><ion-icon name="ios-link-outline"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="chooseFile()"><ion-icon name="ios-image" aria-label="close"></ion-icon></button>
      <button ion-fab (click)="takeVoice()" ><ion-icon name="md-microphone" aria-label="close"></ion-icon></button>
      <button ion-fab (click)="recordVideo()" ><ion-icon name="md-videocam" aria-label="close"></ion-icon></button>
      <button ion-fab (click)="takePic()" aria-label="close"><ion-icon name="md-camera"></ion-icon></button>
    </ion-fab-list>
  </ion-fab> 
  
</ion-content>
