
<ion-content class="app-main-content" padding>
    <div class="app-asde-logo-div app-text-center">
      <img src="assets/img/logo.png" style="max-width: 60%;" alt="" style="max-width: 50%; margin-top: 7%;">
    </div> 
     <div class="app-welcome-text">
       <h1><b>Bienvenido a <br> Complain</b></h1>
       <h4>Has tu denuncias ya de <br>  lo sucedido en Sto. Dgo. Este</h4>
       <br><br>
       <div class="app-text-center app-btn-div">
          <button ion-button round outline (click)="registrarse()"><b>Regístrate</b></button>
          <button ion-button round style="width: 60%;" (click)="iniciar()"> Iniciar sesión</button>
       </div>
     </div>
</ion-content>
