page-welcome {
    .content
    {
      //  color:white;
        //background-color: #488aff;
    }
    .app-text-center{
        text-align: center;
    }
    .app-main-content{
        background-color: #fff;
        color: #2c3e50;
    }
   .app-main-content .app-asde-logo-div{
        margin-bottom: 30px;
    }

    .app-main-content .app-welcome-text{
         margin-left: 8%;
    }

    .app-main-content .app-btn-div button:first-child{
        width: 60%; 
        background-color: #18bc9c;
        color: white;
        border: 1px solid #18bc9c;
    }
     .app-main-content .app-btn-div button:last-child{
        width: 60%; 
         color: #18bc9c;
          border: 1px solid #18bc9c;
        background-color: transparent;
    }
}
