
    <!-- Navigation -->
    <app-menu></app-menu>
   <div class="container">
    <router-outlet></router-outlet>
   </div>

    <!-- Footer -->
    <footer class="text-center">
        <!--<div class="footer-above">
        </div>-->
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Complaint {{age}}
                    </div>
                </div>
            </div>
        </div>
    </footer>



